.card {
  /* Add shadows to create the "card" effect */

    background-color: transparent;
    width: 300px;
    height: auto;
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
   padding: 10px 10px 0px 10px;
   margin-top: 1rem;
   margin-left: 1rem;

}
.Procontainer{
  display: flex;
}
img{
  display: block;
  margin: auto;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 10px 10px 10px 40px;

}